<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Mplus.Admin 后台框架管理登陆</title>
    <link rel="stylesheet" href="@{$Think.config.RESOURCE_PATH}/assets/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="@{$Think.config.RESOURCE_PATH}/assets/css/global.min.css">
    <link rel="stylesheet" href="@{$Think.config.RESOURCE_PATH}/assets/css/login.css">
    <link rel="icon" type="image/png" href="@{$Think.config.RESOURCE_PATH}/project/image/favicon.png">
</head>
<body>

<div id="login-wrap">
    <div class="logo">
        <span>M+</span>
        <p>Mplus.Admin 后台框架</p>
    </div>

    <form class="layui-form login-form" action="@{:url('Login/Index')}" method="post" id="login-form">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" name="account"  lay-verify="required" placeholder="用户账号" autocomplete="off" class="layui-input radius-5">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="password" name="password"  lay-verify="required" placeholder="用户密码" autocomplete="off" class="layui-input radius-5">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" id="verify" name="verify"  lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input radius-5" maxlength="4">
                <img src="@{:captcha_src()}" id="verify-img" class="verify-img right-radius-5" width="100" height="38" title="点击刷新验证码" onclick="refreshVerify()">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button class="layui-btn radius-5" lay-submit lay-filter="formLogin">登陆系统</button>
            </div>
        </div>
    </form>
</div>

<script src="@{$Think.config.RESOURCE_PATH}/assets/plugin/layui/layui.js"></script>
<script src="@{$Think.config.RESOURCE_PATH}/assets/js/global.min.js"></script>
<script src="@{$Think.config.RESOURCE_PATH}/project/js/login.min.js"></script>
<script>
    function refreshVerify() {
        document.getElementById('verify').value = '';
        document.getElementById('verify').focus();
        var img = document.getElementById('verify-img');
        img.src = "/manage.php/captcha?id="+(new Date()).valueOf();
    }
</script>

</body>
</html>