<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用Layui</title>
    <link rel="stylesheet" href="@{$data.resource_path}/assets/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="@{$data.resource_path}/assets/css/animate.min.css">
    <link rel="stylesheet" href="@{$data.resource_path}/assets/css/global.min.css">
    <link rel="stylesheet" href="@{$data.resource_path}/assets/css/form.min.css">
</head>
<body>

<div id="main-wrap" class="animated fadeIn">
    <div class="main-title">
        <h1>添加管理员</h1>
        <div class="toolbar">
            <!--此处可以添加标题右侧的工具按钮-->
        </div>
    </div>
    <hr>
    <div class="main-content">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">管理员帐号</label>
                <div class="layui-input-inline">
                    <input type="text" name="account" lay-verify="required" placeholder="请输入管理员帐号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">管理员登陆系统的帐号</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">管理员密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="required" placeholder="请输入管理员密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">管理员登陆系统的密码</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">管理员昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="nickname" lay-verify="required" placeholder="请输入管理员昵称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">用于显示在系统左上角当前用户区域</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">管理员邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" lay-verify="email" placeholder="请输入管理员邮箱" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">用于接收系统相关提醒邮件</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开关</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="state" lay-skin="switch" class="switch-text-yes">
                </div>
                <div class="layui-form-mid layui-word-aux">关闭状态下无法登陆后台系统</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formAdmin">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button type="button" class="layui-btn layui-btn-primary do-action" data-type="doGoBack" data-href="@{:url('Admin/Index')}">返回列表</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="@{$data.resource_path}/assets/plugin/layui/layui.js"></script>
<script src="@{$data.resource_path}/assets/js/global.min.js"></script>
<script src="@{$data.resource_path}/project/js/admin.min.js"></script>
</body>
</html>